@{
    ViewData["Title"] = "QuotingDojo";
}
<h1>Welcome to QuotingDojo</h1>
<p>What do you say?!</p>
<form action="/quotes" method="post">
    <label>Your name:</label>
    <input type="text" name="name"><br>
    <label>Your Quote:</label><br>
    <textarea name="quote"></textarea><br>
    <button type="submit" name="submit">Add my quote!</button>
</form>
<button><a href="/quotes">Show me the Quotes!</button>

